<html lang="pt-BR">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="css/meu_cadastro.css">
  <title>Psico Apoia</title>

</head>
<body>
<header class="menu-principal">
  <main>
    <div class="header-1">

      <div class="logo">
        <img src="./img/logo_psico_apoia.png"/>
      </div>
      <div class="redes-sociais">
        <ul>
          <li>
            <a href="">
              <img src="./img/logo_instagram.png"/>
            </a>
          </li>
          <li>
            <a href="">
              <img src="./img/logo_twitter.png"/>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </main>
</header>
<main class="col-100 menu-urls">
  <div class="header-2">
    <div class="menu">
      <ul>
        <li><a href="">HOME</a></li>
        <li><a href="">QUEM SOMOS</a></li>
        <li><a href="">CONTATO</a></li>
        <li><a href="">LOGOUT</a></li>
      </ul>
    </div>

  </div>
</main>
<div class="header-3">
  <div class="form-container">
    <div class="form-cadastro">
      <form>
        <div class="form-group-1">
          <label for="usuario">Usuário:</label>
          <input id="usuario" name="usuario" type="text" th:field="*{usuario}"/>
          <label for="senha">Senha:</label>
          <input id="senha" name="senha" type="password" th:field="*{senha}"/>
          <label for="senha2">Confirmação Senha:</label>
          <input id="senha2" name="senha2" type="password" th:field="*{senhaConfirmacao}"/>
        </div>
        <div class="form-group">
          <label for="nome_completo">Nome completo:</label>
          <input id="nome_completo" name="nome_completo" type="text"/>
        </div>
        <div class="form-group-1">
          <label for="data_nascimento">Data de nascimento:</label>
          <input class="form-group-1-inputs" id="data_nascimento" name="data_nascimento" type="date"/>
          <label for="cpf">CPF:</label>
          <input class="form-group-1-inputs" id="cpf" name="cpf" type="text"/>
          <label for="rg">RG:</label>
          <input class="form-group-1-inputs" id="rg" name="rg" type="text"/>
        </div>
        <div class="form-group">
          <label for="e_mail">E-mail:</label>
          <input id="e_mail" name="email" type="email"/>
        </div>
        <div class="form-group-1">
          <label for="telefone">Telefone com DDD:</label>
          <input class="form-group-1-inputs" id="telefone" name="telefone" type="tel"/>
          <label for="celular">Celular com DDD:</label>
          <input class="form-group-1-inputs" id="celular" name="celular" type="tel"/>
        </div>
        <div class="form-group-1">
          <label for="cep">CEP:</label>
          <input id="cep" name="cep" type="text"/>
          <label for="uf">UF:</label>
          <input id="uf" name="uf" type="text"/>
          <label for="cidade">Cidade:</label>
          <input id="cidade" name="cidade" type="text"/>
          <label for="bairro">Bairro:</label>
          <input id="bairro" name="bairro" type="text"/>
        </div>
        <div class="form-group-1">
          <label for="logradouro">Logradouro:</label>
          <input id="logradouro" name="logradouro" type="text"/>
          <label for="numero">Número:</label>
          <input id="numero" name="numero" type="text"/>
          <label for="complemento">Complemento:</label>
          <input id="complemento" name="complemento" type="text"/>
        </div>
        <div class="form-group button-group">
          <button type="reset">Limpar</button>
          <button class="submit-btn" type="submit">Salvar</button>
        </div>
      </form>
    </div>
  </div>
  <div class="header-4">
    <div class="menu-lateral">
      <div class="icone-usuario">
        <img src="./img/icone_usuario.png"/>
      </div>
      <p id="usuario">
        Julia Nogueira
      </p>
      <ul>
        <li><a href="">Meu Cadastro</a></li>
        <hr>
        <li><a href="">Aleterar Senha</a></li>
        <hr>
        <li><a href="">Agendamento</a></li>
        <hr>
        <li><a href="">Excluir Conta</a></li>
        <hr>
      </ul>
    </div>
  </div>
</div>
<div id="rodape">
  <p id="contato-rodape">
    Contato
  </p>
  <p id="email-1">
    Seja um profissional voluntário
    <br>
    <a href="">voluntariado@psicoapoia.org.br</a>
  </p>
  <p id="email-2">
    Suporte ao paciente
    <br>
    <a href="">suporte@psicoapoia.org.br</a>
  </p>
  <small id="copyright">
    ₢ Psico Apoia. Todos os Direitos Reservados
  </small>
</div>
</main>
</body>
</html>