.redes-sociais {
   width: 100%;
   height: 100%;
   object-fit: cover;
}

form button a {
    text-decoration:none;
    color: #FFE9C3;
}

.header-4 {
    width: 20%;
    height: 900px;
    margin-top: 40px;
    background-color: #FFE9C3;
    border-radius: 0 40px 40px 0;
}

/* [INICIO] - CABECALHO - [INICIO] */
ul {
  padding: 0px;
}

.menu-principal {
    width: 100%;
    background-color: #EB980A;
    height: 150px;
}

.logo {
    float: left;
    padding: 5px;
    width: 80%;
}

* {
  box-sizing: border-box;
}

.redes-sociais ul li {
    margin-right: 10px;
    display: inline-block;
    float:right;
    list-style: none;
}

.redes-sociais {
    width: 10%;
    float: right;
}

.header-2 {
  width: 100%;
  margin: 0 auto;
  padding: 1px;
  clear: both;
}

.menu {
    display: block;
    background-color: #FFE9C3;
    padding: 8px;
}

.menu-urls {
    width: 80px;
    margin: 0 auto;
}

.menu ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu ul li {
  color: #F08700;
  margin-right: 80px;
  margin-left: 80px;
}

.menu ul li a:hover {
    color: #AB6203;
}

.menu ul li a {
    color: #F08700;
    text-decoration: none;
    font-size: 18px;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
}
/* [FIM] - CABECALHO - [FIM] */

/* [INICIO] - RODAPE - [INICIO] */
#rodape {
  background-color: #F08700;
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}

#rodape > div > div {
  display: flex;
  margin-right: 30px;
}

#rodape > div > div > div {
  margin-right: 30px;
}

#contato-rodape,
#email-1,
#email-2,
#copyright {
  color: #FFE9C3;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 18px;
}

/* [FIM] - RODAPE - [FIM] */