/* [INICIO] - DOACAO - [INICIO] */
body {
  width: 100%;
  height: 100%;
  margin: 0 auto;
  background-color: #EB980A;
}

#doacao {
    color: #FFE9C3;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: uppercase;
    margin-left: 480px;
    padding-top: 100px;
}

#quem-somos-tx {
    color: #FFE9C3;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
    margin-bottom: 1.5em;
    line-height: 1.8em;
    width: 50%;
    margin-left: 480px;
    margin-block: 20px;
    padding-top: 20px;
}

.header-3 {
  margin-top: 5px;
  width: 100%;
  height: auto;
}

.qrcode {
    margin-left: 480px;
}
/* [FIM] - DOACAO - [FIM] */







