<nav class="menu-principal" th:fragment="cabecalho">
    <div class="header-1">
        <div class="logo">
            <img alt="Logo do Psico Apoia" src="./img/logo_psico_apoia.png"/>
        </div>
        <div class="redes-sociais">
            <ul>
                <li>
                    <a href="">
                        <img alt="Ícone do Instagram" src="./img/logo_instagram.png"/>
                    </a>
                </li>
                <li>
                    <a href="">
                        <img alt="Ícone do Twitter" src="./img/logo_twitter.png"/>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="header-2">
        <div class="menu">
            <ul>
                <li><a href="/carregar-home">HOME</a></li>
                <li><a href="/carregar-quem-somos">QUEM SOMOS</a></li>
                <li th:if="${session.usuario != null}"><a href="/carregar-usuario-logado">MENU</a></li>
                <li><a href="/carregar-palestras">PALESTRAS</a></li>
                <li th:if="${session.usuario == null}"><a href="/carregar-login">LOGIN</a></li>
                <li th:if="${session.usuario != null}"><a href="/logout">LOGOUT</a></li>
            </ul>
        </div>
    </div>
    <input type="hidden" id="mensagemErro" name="mensagemErro" th:if="${mensagemErro != null}" th:value="${mensagemErro}"/>
    <input type="hidden" id="mensagemSucesso" name="mensagemSucesso" th:if="${mensagemSucesso != null}" th:value="${mensagemSucesso}"/>
</nav>