<html lang="pt-BR" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <link th:href="@{/css/excluir_conta.css}" rel="stylesheet"/>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <link th:href="@{/css/toastr.min.css}" rel="stylesheet"/>
    <script type="text/javascript" th:src="@{/js/jquery-3.7.0.js}"></script>
    <script type="text/javascript" th:src="@{/js/toastr.min.js}"></script>
    <script type="text/javascript" th:src="@{/js/common.js}"></script>
    <title>Psico Apoia</title>

</head>
<body>

    <nav th:insert="~{cabecalho :: cabecalho}"></nav>

    <div class="header-3">
        <div class="container">
            <form id="form" class="form" action="#" th:action="@{/excluir-conta-senha}" method="post">
                <p th:text=${mensagemErro}></p>
                <div class="form-content">
                    <label>Deseja realmente excluir esta conta?</label>
                </div>
                <button type="submit">Sim</button>
                <button type="button" id="botaoVoltar"><a id="linkVoltar" href="/carregar-excluir-conta">Voltar</a></button>
            </form>
        </div>
        <div th:insert="~{menu_lateral :: menu_lateral}"></div>
    </div>

    <div th:insert="~{rodape :: rodape}"></div>

</body>
</html>
