<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link th:href="@{/css/doacao.css}" rel="stylesheet" />
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <title>Psico Apoia</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>

<nav th:insert="~{cabecalho :: cabecalho}"></nav>

<div class="header-3">
    <p id="doacao">
        Doações
    </p>
    <p id="quem-somos-tx">
        1- Abra o App do seu banco;
    </p>
    <p id="quem-somos-tx">
        2-Encontre a área PIX dentro do App;
    </p>
    <p id="quem-somos-tx">
        3- Utilize a chave PIX (e-mail) para fazer a doação: doe@psicoapoia.org.br
    </p>
    <p id="quem-somos-tx">
        4- Digite o valor que quer doar e confirme a operação conforme instruções a tela. Qualquer valor é bem-vindo!
    </p>
    <p id="quem-somos-tx">
        Você também pode doar através do QRcode escaneando a imagem abaixo
    </p>
    <div class="qrcode">
        <img src="img/qr_code_doa.png"/>
    </div>
</div>

<div th:insert="~{rodape :: rodape}"></div>

</body>
</html>