<div th:switch="${pacientes}">
    <h2 th:case="null">Nenhum paciente cadastrado!</h2>
    <div th:case="*">
        <h2>Pacientes</h2>
        <table>
            <thead>
            <tr>
                <th>Nome</th>
                <th>Email</th>
                <th>Editar</th>
                <th>Remover</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="paciente : ${pacientes}">
                <td th:text="${paciente.nome}"></td>
                <td th:text="${paciente.email}"></td>
                <td><a th:href="@{/editar-paciente/{id}(id=${paciente.id})}">Editar</a></td>
                <td><a th:href="@{/deletar-paciente/{id}(id=${paciente.id})}">Remover</a></td>
            </tr>
            </tbody>
        </table>
    </div>
    <p><a href="/carregar-adicionar-paciente">Addicionar um novo paciente</a></p>
</div>