<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link th:href="@{/css/primeiro_acesso.css}" rel="stylesheet"/>
    <link th:href="@{/css/common.css}" rel="stylesheet"/>
    <title>Psico Apoia</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>

<nav th:insert="~{cabecalho :: cabecalho}"></nav>

<div class="header-3">
    <div class="choice-button-group">
        <a href="/primeiro-acesso-paciente" class="choice-button">Paciente</a>
        <a href="/primeiro-acesso-psicologo" class="choice-button">Psicologo</a>
    </div>
</div>

<div th:insert="~{rodape :: rodape}"></div>

</body>
</html>