<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <link th:href="@{/css/common.css}" rel="stylesheet" />
    <title>Psico Apoia</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>

    <nav th:insert="~{cabecalho :: cabecalho}"></nav>

    <div class="header-3">

            <p>
                <button><a href="/carregar-primeiro-acesso-paciente">Paciente</a></button>
            </p>
            <p>
                <button><a href="/carregar-primeiro-acesso-psicologo">Psicologo</a></button>
            </p>

    </div>

    <div th:insert="~{rodape :: rodape}"></div>

</body>
</html>